name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          architecture: x64
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          set -eux

          sudo apt-get install -y protobuf-compiler

          # use RC build
          pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/test/cu128

          pip install lintrunner lintrunner-adapters
          lintrunner init

          pip install .[dev] -v
      - name: Run lintrunner
        run: |
          set -eux

          lintrunner --skip PYRE --force-color --all-files
      - name: Run pyre
        run: |
          set -eux

          pyre check
      - name: Run Rust Lint
        run: |
          set -eux

          cargo fmt --check
